.color-scheme-table {
  border-spacing: 4px;
  border-collapse: separate;
  margin-bottom: 10px;
  margin: 0 auto 20px;
}
.color-scheme-table td {
  width: 70px;
  height: 70px;
  border: 1px solid #181818;
}

.webpage-screenshot {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #181818;
}

.reports {
  padding: 10px;
}

.report {
  padding: 10px;
}
.report a {
  font-size: 1.4em;
}

.play-screenshot {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.1em;
}

.excel-loads-1 {
  width: 800px;
  height: 500px;
}

.excel-loads-2 {
  width: 800px;
  height: 500px;
}
