<h2>Teknologier</h2>

<a href="css">CSS</a>

<a href="html">HTML</a>

<a href="javascript">JavaScript</a>

<a href="php">PHP</a>

<a href="python">Python</a>

<a href="git">Git</a>

<a href="sqlite">SQLite</a>
