/* technology.scss */

@import 'variables';

.wrapper {
    display: flex;
    margin-top: 2.5em;
    align-items: flex-start;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding: 12px;
    background-color: $orange-color;
    border: 2px solid $border-to-orange-color;

    h2 {
        font-size: 1.2em;
        padding-bottom: 12px;
        text-align: center;
        color: $black-on-orange;
    }

    a {
        color: $font-color;
        margin: 3px 0;
        padding-left: 11px;
        color: $black-on-orange;
    }

    a:hover {
        color: $black-on-orange-hover;
    }
}

.technology {
    flex-grow: 4;
    flex-basis: 0;
    padding: 0 10px 30px 40px;

    h1 {
        margin-top: 0;
    }
}


@media (max-width: 767px) {
    .sidebar-menu {
        display: none;
    }

    .technology {
        width: 100vw;
        padding: 0 30px 20px;
    }
}
