$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: rgb(197, 213, 255);
$background-alternative-color: #e0fbfc;
$orange-color: rgb(255, 165, 0);
$black-border-color: #000;
$orange-hover-color: rgb(204, 133, 0);
$black-hover-color: rgb(59, 59, 59);
