$font-color: #b2b2b2;
$black-on-orange: #181818;
$black-on-orange-hover: #303030;
$background-color: $black-on-orange;
$orange-color: #FFA600;
$orange-hover-color: #CC9329;
$border-to-orange-color: $background-color;
$font-color-hover: #fff;
