$font-color: #181818;
$font-alternative-color: #ffffff;
$black-on-orange: $font-color;
$black-on-orange-hover: #303030;
$background-color: #ffffff;
$orange-color: #FFA600;
$orange-hover-color: #CC9329;
$border-to-orange-color: $font-color;
$font-color-hover: #303030;
